@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
    }
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    color: #414042;
    background: lightgray;
    font: 14px "Poppins";

    padding: 70px 0;

}


/* Článek */
article {
    padding: 60px 7px 0 7px;
    margin: 0 auto;
    max-width: 960px;

}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0;
    color: #0d4f88;
}

article h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    border-bottom: 4px solid #EF6534;
}

article h2 {
    font-size: 2em;
}

article header {
    height: 80px;
}

article section p {
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

article section a {
    color: #ef6534;
}


/* Patička */
footer {
    height: 2.5rem;
    color: white;
    background: #414042;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    display: flex;

    justify-content: center;
    padding: 10px 0;
}


/* Hlavička + logo */
body > header {
    height: 100px;
    width: 100%;
    background: #003868;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 40px;
    margin: auto 0 auto 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url('obrazky/logo.png') no-repeat;
    background-size: 40px 40px;
}

#logo > * {
    margin:  0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}


/* Navigace záhlaví */
nav ul {
    margin: 0;
    list-style: none;
    display: flex;

    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid #EF6534;
}


.kontakt-tlacitko {
    background-color: #EF6534;
    padding: 10px 20px;
    border-radius: 20px;
}

.kontakt-tlacitko:hover,
.reference-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}


/* Vizitka - Hlavní strana */
.sectionVizitka {
    display: flex;

    justify-content: center;
    align-items: center;
}

.vizitka {
    text-align: center;

    border: 5px solid rgb(180, 174, 174);
    border-radius: 15px;

    background: #d3cf9d;
    font-size: 2.5vw;
    color: black;
    font-weight: 900;

    padding: 5vw;
}

.vizitka p {
    margin: 0;
    padding: 20px;
}


/* Projekt tlačítko - O mně */
.projekt-tlacitko, .projekt-tlacitko2 {
    background: #70B73A;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

.projekt-tlacitko2 {
    padding: 15px;
}

.hlavniJmeno {
    font-size: 60px;
}


/* Avatar - O mně */
.avatar {
    float: right;
    width: 300px;
    -webkit-box-shadow: 4px 4px 10px 11px rgba(0,0,0,0.77); 
    box-shadow: 5px 5px 11px 11px rgba(0,0,0,0.77);
    margin: 10px;
}

.cistic {
    clear: both;
}


/* Dovednosti */
#dovednosti {
    width: 100%;
    table-layout: fixed;
}

#dovednosti td {
    width: 33.33%;
    padding: 10px;
    vertical-align: top;
    border: 1px solid gray;
}

.centrovany {
    text-align: center;
}

.centrovanyH2 {
    text-align: center;
}

/* Responzivita tabulky*/
@media (max-width: 768px) {
    #dovednosti td {
        width: 100%;
    }

    #dovednosti td h2, #dovednosti td p {
        text-align: center;
    }

    #dovednosti td h2 {
        font-size: 1.5em;
    }

    tr {
        border-collapse: collapse;
    }

    #dovednosti td img {
        max-width: 100%;
        height: auto;
    }
}


/* Projekty + kontakt*/
.projektyObrazky img, .linkedin{
    height: 5rem;
    padding-right: 15px;
    margin-top: 35px;
}


/* Kontakt */
.email {
    float: right;
    width: 300px;
    padding-left: 100px;
    filter: grayscale(1);
}
