@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-Regular.ttf);
    font-weight: normal;
    }
@font-face {
    font-family: Poppins;
    src: url(fonty/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(208, 235, 85);
    font: 17px "Poppins";

    padding: 70px 0 20px;
}


/* Hlavička + logo */
body > header {
    height: 100px;
    width: 100%;
    background: #141414;
    color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 40px;
    margin: auto 0 auto 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url('obrazky/logo.png') no-repeat;
    background-size: 40px;
}

#logo > * {
    margin:  0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

#logo small {
    text-transform: uppercase;
    font-size: 0.85em;
}


/* Navigace záhlaví */
nav {
    display: flex;
    padding-top: 40px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;  
}

.nav-links a:hover, .aktivni a {
    border-bottom: 2px solid #e50914;
}

nav .fa {
    display: none;
}

/* Tlačítko v NAV */
.kontakt-tlacitko {
    background-color: #e50914;
    padding: 10px 20px;
    border-radius: 20px;
}

.kontakt-tlacitko:hover,
.reference-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}


/* Článek */
article {
    padding: 60px 7px 0;
    margin: 0 auto;
    max-width: 960px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    padding: 10px 0;
    color: #061d5c;
}

article h1 {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 30px;
}

article h2 {
    font-size: 2em;
    margin-top: 6px;
}

article section p {
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

article section a {
    color: #e50914;
}


/* Vizitka - Hlavní strana */
.sectionVizitka {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vizitka {
    background: #b86110;
    color: black;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 900;

    border-radius: 15px;
    box-shadow: 0 0 20px black;
    padding: 4.8vw;
}

.vizitka p {
    margin: 0;
    padding: 20px;
}

.hlavniJmeno {
    font-size: 60px;
    color: black;
}


/*Tlačítka: Vizitka a maPrace */
.tlacitko-Vizitka,
.tlacitko-maPrace {
    background: #a70d15;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

.tlacitko-maPrace {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 20%;
    font-size: 20px;
    justify-content: center;
}


.tlacitko-Vizitka {
    font-size: 20px;
    padding: 15px;
    box-shadow: 0 0 20px black;
}


/* O mně */
.kontakt-o-mne {
    color: #a70d15;
    font-weight: 900;
    text-decoration: none;
}

.avatar {
    display: flex;
    margin: 0 auto;
    width: 300px;
    box-shadow: 5px 5px 11px 11px rgba(0,0,0,0.77);
}


/* Dovednosti */
#dovednosti {
    width: 100%;
    table-layout: fixed;
}

#dovednosti td {
    width: 33.33%;
    padding: 10px;
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 10px;
}

#dovednosti img {
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    margin-top: 7px;
}

.centrovany {
    text-align: center;
}

.centrovanyH2 {
    text-align: center;
}


/* API */
.api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 0 20px rgb(209, 0, 0);
    border-radius: 15px;
}

.api h3 {
    font-size: 40px;
    font-weight: 900;
    color: green;
}

.api p {
    font-size: 40px;
}

.api a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    color: blue;
    

    margin-bottom: 15px;
}

/* Projekty + kontakt*/
.projektyObrazky img, 
.linkedin {
    height: 5rem;
    padding-right: 25px;
}

.projektyObrazky img {
    margin: 45px auto;
}


/* Patička */
.footer {
    color: #e50914;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}